* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
  color: #ffffff;
  background: #1D546D;
}

/* Navigatiebalk */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: #061E29;
  color: #F3F4F4;
}

.nav nav a {
  color: #F3F4F4;
  margin-left: 20px;
  text-decoration: none;

}

.header nav a:hover {
  text-decoration: underline;
}
/* Container en hero*/
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
}
.hero {
  background: #5F9598;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.2);
 }

section {
  padding: 100px 10%;
}

/* Headings and paragraphs */
h2 {
  margin-bottom: 20px;
} 
p {
  font-size: 16px;
  line-height: 1.5;
}


/* galerij */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.gallery img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.gallery img:hover {
  transform: scale(1.10);
}

/* Footer*/

.footer {
  text-align: center;
  padding: 60px;
  background: #061E29;
  color: #F3F4F4;
}
